[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=false
Terminal=false
Exec=/usr/bin/sudo /home/lroeper/.local/bin/convertible-mode.sh disable
Icon=/home/lroeper/.local/share/icons/laptop.png
Name=Laptop Mode
Comment=Re-Enables the internal Keyboard and Track-/Touchpad to allow a Convertible Device to flip back without problems.
Categories=Convertible
